body
{margin-left: 0px;
margin-top: 0px;
  .top_image {
    width: 100%;
  }
  .top_hach {
    width: 100%;
    margin-top: -10px;
  }
}

.front_rest
{
  background-image: url("img/burger party.png");
}

h2
{
  color: red;
}
