@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900');

* {
    font-family: 'Poppins', sans-serif !important;
}

body {
  margin-left: 0px;
  margin-top: 0px;
  text-align: center;
}

h2
{
  font-size: 40px;
  @media screen and (min-width: 768px) {
    font-size: 60px;
  }
  font-weight: 600;
}

h3 {
  font-size: 30px;
  @media screen and (min-width: 768px) {
    font-size: 40px;
  }
  font-weight: 400;
}

h4 {
  font-size: 35px;
  @media screen and (min-width: 768px) {
    font-size: 45px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  font-weight: 600;
}

h5 {
  font-size: 25px;
  @media screen and (min-width: 768px) {
    font-size: 35px;
    text-align: left;
    margin-bottom: 10px;
  }
  font-weight: 400;
}

p {
  font-size: 10px;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 100px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
    line-height: 45px;
  }
}

ul {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.post_part {
  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    border: 1px solid grey;
  }
}

.post_text {
  margin-left: 40px;
  margin-right: 40px;
  @media screen and (min-width: 768px) {
    margin-left: 65px;
    margin-right: 65px;
  }
}

.banner-container{
    width:100%;
    position: relative;
    height: 800px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-text {
    color: #FFF;
    position: absolute;
    z-index: 2;
    left: 5%;
    @media only screen and (min-width: 768px){
        left: 10%;
    }
}
.banner-title{
    top: 320px;
    font-size: 60px;
    @media only screen and (min-width: 768px){
        top: 280px;
        font-size: 80px;
    }

    text-align: left;
    font-weight: 600;
}
.banner-subtitle{
    top: 130px;
    font-size: 40px;
    @media only screen and (min-width: 768px){
        top: 200px;
        font-size: 50px;
    }
    text-align: left;
}
.line{
    width: 30px;
    padding-right: 5px;
    height: 0;
}
.banner-link{
    top: 650px;
    @media only screen and (min-width: 768px){
        top: 550px;
    }
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    width: 200px;
    align-items: center;
    white-space: nowrap;
}
.proper-link:link{
    text-decoration: none;
    color: #FFF;
}
.proper-link:visited {
    text-decoration: none;
    color: #FFF;
}
.proper-link:hover {
    text-decoration: underline;
    color: #FFF;
}
.proper-link:active {
    text-decoration: underline;
    color: #FFF;
}
.hachures-banner{
    z-index: 3;
    width: 100%;
    top: 830px;
    @media only screen and (min-width: 768px){
        top: 825px;
    }
    @media only screen and (min-width: 1025px){
        top: 800px;
    }
    position: absolute;

    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}
.bordure-hachure{
    width: 100%;
}


.top_image {
  width: 100%;
  margin-bottom: 0px;
}

.top_hach {
  width: 100%;
  margin-top: -50px;
  transform: rotate(180deg);
}

.middle_grey {
  width: 100%;
  height: 75px;
  background-color: rgb(245, 245, 245);
}

.middle_hachures {
  width: 100%;
  margin-bottom: 150px;
}

.loc_subtitle {
  margin-top: 100px;
  margin-bottom: 0px;
}

.loc_title {
  margin-top: -30px;
}

.form_side_image {
  width: 100%;
  margin-bottom: 0px;
  @media screen and (min-width: 1024px) {
    width: 60%;
    text-align: left !important;
    margin-left: 10%;
  }
}

.form_and_recipes {
  @media screen and (min-width: 768px) {
  position: absolute;
  }
}

.form_reservation {
  background-color: rgb(245, 245, 245);
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 50px;
  padding-bottom: 70px;
  @media screen and (min-width: 768px) {
    margin-top: -100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    z-index: 0;
  }
  @media screen and (min-width: 1024px) {
    width: 35%;
    margin-top: -750px;
    margin-left: 50%;
    margin-bottom: 200px;
  }
}

.form_form {
  text-align: left;
}

.form_columns_container {
  @media screen and (min-width: 768px) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  .form_item {
    width: 95%;
  }
  }
}
.form_label {
  text-align: left;
  font-size: 14px !important;
}

.form_item {
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
  input {
    height: 50px;
  }
  select {
    font-size: 18px;
  }
}

.button_rest {
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 20px;
}

.p_centered {
  text-align: center;
}

.bottom_hach {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 0px !important;
  transform: rotate(180deg);
}

.recipes {
  background-color: rgb(245, 245, 245);
  margin-top: 0px;
}

.front_rest
{
  background-image: url("img/burger party.png");
}




@media screen and (min-width: 768px) {}
@media screen and (min-width: 1024px) {}
